---
---
<header class="header border-b mb-3 flex justify-end content-center">
  <a class="header__title me-auto flex items-center h-full text-xl font-bold text-violet-700" href="/">
    Datadog のテスト
  </a>
  <div class="header__nav flex">
    <a class="header__nav__item flex items-center h-full p-2 hover:bg-violet-300" href="/">HOME</a>
    <a class="header__nav__item flex items-center h-full p-2 hover:bg-violet-300" href="/about">ABOUT</a>
    <a class="header__nav__item flex items-center h-full p-2 hover:bg-violet-300" href="/error">ERROR</a>
  </div>
</header>

<style>
header {
  height: 50px;
}
</style>
