---
import Header from '../components/Header.astro';
import Head from './Head.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<Head>{title}</Head>
	<body>
		<Header />
		<main class="flex flex-col items-center">
			<slot />
		</main>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body {
		padding: 0 1rem;
	}
</style>
